body { 
  font-family: Calbri, Arial, sans-serif;  
  
}

ul {
  border: 1px black solid
}

image {
  height: 200px;
  width: 300px;
  border: 2px green dashed;
  padding: 5px 10px 5px 10px; 
  <!--top, right, bottom, left /-->
  
}
